@{ ViewData["Title"] = "Index"; }

<h2>Do Not Call Complaints Application</h2>
<hr />

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- Automatic Slideshow Images -->

    <div class="mySlides w3-display-container w3-center">
        <img src="img/robo3.jpg" style="width:35%" height="300px">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">

        </div>
    </div>

    <div class="mySlides w3-display-container w3-center">
        <img src="img/DONOTCALL.jpeg" style="width:35%" height="300px">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">

        </div>
    </div>

    <div class="mySlides w3-display-container w3-center">
        <img src="img/robo1.jpeg" style="width:35%" height="400px">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">

        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="img/robo2.jpeg" style="width:35%" height="400px">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">

        </div>
    </div>

    <div class="w3-container w3-content w3-left-align w3-padding-64" style="width:95%" id="band">
        <div class="space">  </div>
        <h2>About the Site</h2>
        <p>The site contains over 13500 records collected over 3000 API calls.</p>
        <p>Due to the large amount of SQL data needed to process some of the pages may be slow to load.</p>

        <div class="space">  </div>
        <h2>Site Features</h2>
        <p>
            This application let's you fetch trading data from FTC via their public <a href="https://www.ftc.gov/developer/api/v0/endpoints/do-not-call-dnc-reported-calls-data-api">API</a>.
            <br />
            <br />
            The <a asp-area="" asp-controller="Home" asp-action="map">Map</a> tab uses the data in the SQL database to create a Map of USA and show how many complaints were recieved in each state. <em>(Due to large dataset the page might take a minute or longer to load.) </em>
            <br />
            The <a asp-area="" asp-controller="Home" asp-action="Charted">Charts</a> tab displays charts of types of complaints in different states. <em>(Due to large dataset the page might take a minute or longer to load.) </em>
            <br />
            The <a asp-area="" asp-controller="Home" asp-action="Viewed">View</a> tab lets user search for a complaint in the database. <em>Read</em>
            <br />
            The <a asp-area="" asp-controller="Home" asp-action="Created">Create</a> tab lets user create a new complaint. <em>Create</em>
            <br />
            The <a asp-area="" asp-controller="Home" asp-action="Update">Update</a> tab lets user update details of a complaint. <em>Update</em>
            <br />
            The <a asp-area="" asp-controller="Home" asp-action="Delete">Delete</a> tab lets user delete a complaint. <em>Remove</em>
            <br />
            The <a asp-area="" asp-controller="Home" asp-action="Refreshed">Refresh</a> tab pulls additional data from the API and updates the SQL database with missing data. <em>Page might be slow to load as it makes the API calls</em>
            <br />
            The <a asp-area="" asp-controller="Home" asp-action="AboutUS">About US</a> tab has details about the group.
        </p>
        <p>
            Following learning objectives are fulfilled -
            <ul>
                <li>Connection to REST API.</li>
                <li>Connection to database.</li>
                <li>CRUD operations.</li>
                <li>Creation of Charts.</li>
            </ul>
        </p>
    </div>

</div>





    <div>
        
    </div>

    <script>
        // Automatic Slideshow - change image every 4 seconds
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 4000);
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }</script>
